configuration {
    show-icons: true;
}

* {
    background-color: #000000;
    text-color:       #ffffff;
    font:             "monospace bold 11";
}

window {
    border:           4px;
    border-color:     #ffffff;
    padding:          20px;
    width:            70%;
    location:         center;
}

inputbar {
    children:         [ prompt, entry ];
    border:           0px 0px 2px 0px;
    border-color:     #ffffff;
    padding:          0px 0px 10px 0px;
    margin:           0px 0px 20px 0px;
}

prompt {
    margin:           0px 10px 0px 0px;
}

listview {
    columns:          3;
    lines:            2;
    cycle:            true;
    spacing:          15px;
    fixed-height:     true;
}

element {
    orientation:      vertical;
    padding:          15px;
    border:           2px;
    border-color:     #222222;
}

element selected {
    background-color: #ffffff;
    text-color:       #000000;
    border-color:     #ffffff;
}

element-icon {
    size:             120px;
    horizontal-align: 0.5;
}

element-text {
    horizontal-align: 0.5;
    margin:           8px 0px 0px 0px;
}
